# Copia questo file in .env e compila i valori
DB_CONNECTION=Server=DB-SERVER;Database=DB-NAME;User Id=USER;Password=PASSWORD;
JWT_SIGNING_KEY=CHANGE_ME
LICENSE_SERVER_URL=https://license.yourdomain.com
COUNTRY_CODE=IT
